<style>
  .navbar{
    display: none !important;
  }
</style>
<div class="col-md-6 offset-md-3">
<form [formGroup]="form" novalidate>
  
  <div class="form-group row" [ngClass]="{'has-danger': !form.get('username').valid && form.get('username').touched}" >
    <label class="col-form-label" >Usuario</label>
    <input type="text" class="form-control" formControlName="username" placeholder="Ingresar Usuario">

    <div *ngIf="form.get('username').errors?.required && form.get('username').touched" class="form-control-feedback">
      El usuario es necesario.
    </div>
  </div>

  
  <div class="form-group row" [ngClass]="{'has-danger': !form.get('password').valid && form.get('password').touched}">
    <label class="col-form-label" >Contraseña</label>
    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">

    <div *ngIf="form.get('password').errors?.required && form.get('password').touched" class="form-control-feedback">
      La contraseña es necesaria.
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-md-4">
      <button [disabled]="!form.valid" (click)="ingresar()" class="btn btn-primary">Aceptar</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-light" (click)="cancelar()">Cancelar</button>
    </div>  
  </div>
  

</form>
</div>
